:root {
  --background: #141414;
  --text-color: #fafafa;
  --subtext-color: hsl(0, 0%, 70%);

  /* grid */
  --column-count: 12;
  --gutter: 26px;
  --column: calc(
    (1440px - (var(--column-count) - 1) * var(--gutter)) / var(--column-count)
  );
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./inter-web/Inter-Light.woff2?v=3.19") format("woff2"),
    url("./inter-web/Inter-Light.woff?v=3.19") format("woff");
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: var(--gutter);
  background: var(--background);
  color: var(--text-color);
}

body {
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  text-decoration: none;
}

h1,
h2 {
  font-size: 1rem;
  line-height: var(--gutter);
  font-weight: normal;
  margin: 0 0 calc(1 * var(--gutter)) 0;
}

p {
  font-size: 1rem;
  margin: var(--gutter) 0;
}

main {
  margin: 0 auto;
  width: calc(5 * var(--column) + 4 * var(--gutter));
  max-width: 100%;
  padding: var(--gutter);
}

footer {
  position: sticky;
}

.site-head {
  position: fixed;
  top: var(--gutter);
  left: var(--gutter);
}

.subtext {
  color: var(--subtext-color);
}

.mt-1 {
  margin-top: calc(var(--gutter));
}

.mt-2 {
  margin-top: calc(2 * var(--gutter));
}

.mt-3 {
  margin-top: calc(3 * var(--gutter));
}

.info-list {
  display: flex;
}

.info-list *:first-child {
  margin-left: 0;
}

.info-list--title {
  width: calc(1 * var(--column));
  margin-left: var(--gutter);
}

.info-list--list {
  width: calc(4 * var(--column) + 3 * var(--gutter));
  margin-left: var(--gutter);
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-list--list li > p {
  margin-top: 0;
}

@media (max-width: 640px) {
  main {
    padding-top: calc(3 * var(--gutter));
  }

  .info-list {
    display: block;
    margin-bottom: calc(2 * var(--gutter));
  }

  .info-list--list {
    width: 100%;
    margin: 0;
  }

  .info-list--title {
    width: 100%;
    margin: 0 0 calc(var(--gutter) * 0.5) 0;
    border-bottom: 1px solid var(--text-color);
  }
}
